<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<!--Create navigation header-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
          class="icon-bar"></span> <span class="icon-bar"></span> <span
          class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" th:href="@{/v1/user/register}">Registration and
        Login Module</a>
    </div>
  </div>
</nav>

<br>
<br>
<!--Create HTML registration form-->
<!-- Create HTML registration form -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!-- success message -->
      <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered!
        </div>
      </div>

      <h1>Registration</h1>

      <form th:action="@{/v1/user/registration}" method="post" th:object="${user}">
        <div class="form-group">
          <label class="control-label" for="name"> Name </label>
          <input id="name" class="form-control" th:field="*{name}"
                 required autofocus="autofocus"/>
        </div>

        <div class="form-group">
          <label class="control-label" for="username"> Username </label> <input
            id="username" class="form-control" th:field="*{username}"
            required autofocus="autofocus"/>
        </div>

        <div class="form-group">
          <label class="control-label" for="email"> Email </label> <input
            id="email" class="form-control" th:field="*{email}" required
            autofocus="autofocus"/>
        </div>

        <div class="form-group">
          <label class="control-label" for="password"> Password </label> <input
            id="password" class="form-control" type="password"
            th:field="*{password}" required autofocus="autofocus"/>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success">Register</button>
          <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
